.no-padding{
  padding: 0px!important;
}
.no-border {
  border: none !important;
}


.list-enter-active {
  transition: 1s ease;
}

.list-leave-active {
  transition: opacity 1s ease;
  position: absolute;
}

.list-enter,
.list-leave-to {
  opacity: 0;
  background-color: white;
  transform: translateY(10px);
}

.list-move {
  transition: 2s ease;
}



.card-header {
  .button-absolute {
    top: 15px;
    right: 15px;
  }
}

.img-index{
  width: 100%!important;
  height: 450px!important;
}

.card-plan{
  width: 100%;
  height:450px!important;
}

@media(max-width: 986px)
{
  .img-index{
    width: 100%;
    height: auto;
  }
}

.custom-file-input:lang(en) ~ .custom-file-label::after{
  content: "Navigare"!important;
}

// Flex-photos

.flex-photos {
  display: flex;
-webkit-display: flex;
-moz-display: flex;
-ms--display: flex;
  clear: both;
  flex-wrap: wrap;
}

.profile-photo {
  flex: 1;
  cursor: pointer;
}

@media (max-width: 576px) {
  .profile-photo {
    width: 100% !important;
  }
}

/* Input Spin buttom  */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.profile-hovered{
  transition: all 1.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 145px;
  opacity: 0
}

.profile-hovered:hover{
  opacity: 1;
}


// LightBox
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
  cursor:pointer;
}

.modalPhoto {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content-photo {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90%;
  max-height: 100%;
    overflow-y: auto;
  .mySlides{
    text-align: center;
    img{
      width: 350px;
      height: auto;
    }
  }
}

/* The Close Button */
.close-photo {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close-photo:hover,
.close-photo:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.column {
  float: left;
  width: 100px;
  height: 100px;
}

// advertisings

.img-advertising{
  width: 170px;
  height: 200px;
}

// Checkboxes
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #1a1a1a;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
