.no-padding{
  padding: 0px!important;
}
.no-border {
  border: none !important;
}

.card-header {
  .button-absolute {
    top: 15px;
    right: 15px;
  }
}

.custom-file-input:lang(en) ~ .custom-file-label::after{
  content: "Navigare"!important;
}

// Flex-photos

.flex-photos {
  display: flex;
  flex-wrap: wrap;
}

.profile-photo {
  flex: 1;
}

@media (max-width: 576px) {
  .profile-photo {
    width: 100% !important;
  }
}

/* Input Spin buttom  */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.profile-hovered{
  transition: all 1.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 145px;
  opacity: 0
}

.profile-hovered:hover{
  opacity: 1;
}
